{% extends 'govuk/govuk_template.html' %}

{% block head %}
{% if css.compressed %}
<link href="/public/stylesheets/main-min.css" rel="stylesheet" type="text/css" />
{% else %}
<link href="/public/stylesheets/main.css" rel="stylesheet" type="text/css" />
{% endif %}
<script src="{{ asset_path }}javascripts/jquery-3.2.1.min.js"></script>
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
{% endblock %}


{% block cookie_message %}
{% include "includes/cookie-message.html" %}
{% endblock %}

{% block proposition_header %}
{% include "includes/proposition-header.html" %}
{% endblock %}

{% block footer_top %}<div><input type="hidden" id="pgid" value="{{ pgid }}"/></div>{% endblock %}


