.table-control {
	margin-bottom:30px;
	&.table-one-half {
		width:percentage(1/2);
	}
	&.table-one-third {
		width:percentage(1/3);
	}
	&.table-two-thirds {
		width:percentage(2/3);
	}
	caption {
		@include bold-24();
		text-align:left;
		margin-bottom: $gutter;
		width: 100%;
		text-overflow: ellipsis;
		overflow:hidden;
	}
	.cell-one-sixth {
		width:percentage(1/6);
	}
	.cell-one-quarter {
		width:percentage(1/4);
	}
	.cell-one-third {
		width:percentage(1/3);
	}
	.cell-one-half {
		width:percentage(1/2);
	}
	.cell-two-thirds {
		width:percentage(2/3);
	}
	.cell-three-quarters {
		width:percentage(3/4);
	}
	.cell-five-sixths {
		width:percentage(5/6);
	}
	th[scope="row"] {
		@include core-19;
		vertical-align: top;
	}
	td {
		vertical-align:top;
		p:first-child {
			margin-top:0;
		}
	}
	b {
		font-weight: bold;
	}
}



@include media(mobile) {
	.table-control {
		width:100% !important;
		&.mobile-format {
			display: block;
			margin-top: 0px;
			thead, tr, tbody, td {
				display: block;
			}
			th {
				display: none;
			}
			th[scope="row"] {
				@include bold-24;
				border-bottom: 0;
				display:block;
			}
			tr {
				border-bottom: 1px solid $grey-2;
				padding: 0.5em 0;
			}
			td {
				display: block;
				padding: 0.3em 0;
				border-bottom: 0;
				overflow: hidden;
	    		text-overflow: ellipsis;
				&:before {
					display: block;
					@include bold-19;
				}
				&:empty {
					display: none;
				}
			}
			&.corrections-table {
				td:first-child {
					@include bold-24;
				}
			}

			/* Column names */

			/* Corrections Table */
			.td-field-heading 	{ }
			.td-errors 			{ }
			.td-correction 		{ &:before { content:"Correction "; }}

			/* Corrections Detail */
			.td-row 			{ &:before { content:"Row number(s) "; }}
			.td-error 			{ &:before { content:"Error "; }}
			.td-data 			{ &:before { content:"Your data "; }}

			/* Guidance */
			.dr_field 			{ }
			.dr_description 	{ &:before { content:"Description "; }}
			.dr_rules 			{ &:before { content:"Rules "; }}
			.dr_example 		{ &:before { content:"Example "; }}

			&.Rtn_Type {
				.name 		{ @include core-24; }
			}
			&.Rtn_Period {
				.name 		{ @include core-24; }
				.definition { &:before { content:"Definition "; }}
				.example 	{ &:before { content:"Example "; }}
			}
			&.Meth_Stand {
				.name 		{ @include core-24; }
				.notes 		{ &:before { content:"Definition "; }}
			}
			&.Txt_Value {
				.name 		{ @include core-24; }
				.aliases 	{ &:before { content:"Alternatives "; }}
			}
			&.Parameter {
				.name 		{ @include core-24; }
				.aliases 	{ &:before { content:"Alternatives "; }}
				.cas 		{ &:before { content:"CAS "; }}
			}
			&.Qualifier {
				.name 				{ &:before { content:"Qualifier "; }}
				.notes 				{ &:before { content:"Notes "; }}
				.type 				{ &:before { content:"Type "; }}
				.singleOrMultiple 	{ &:before { content:"Single or multiple "; }}
			}
			&.Ref_Period {
				.name 		{ @include core-24; }
				.aliases 	{ &:before { content:"Alternatives "; }}
				.notes 		{ &:before { content:"Notes "; }}
			}
			&.Unit {
				.name 			{ &:before { content:"Unit "; }}
				.aliases 		{ &:before { content:"Alternatives "; }}
				.longName 		{ &:before { content:"Long Name "; }}
				.type 			{ &:before { content:"Measurement Type "; }}
				.unicode 		{ &:before { content:"Unicode "; }}
				.description 	{ &:before { content:"Definition "; }}
			}
		}
		&.table-two-column {
			td {
				margin-left:percentage(1/3);
				width:percentage(2/3);
				display: inline-block;
				padding: 0.3em 0;
				&:before {
					display: inline-block;
				    font-weight: bold;
				    margin-left: -30%;
				    position: absolute;
				    width: 30%;
				}
				&:empty {
					display: none;
				}
				div:first-child {
					p:first-child {
					    margin-top: -20px;
					}
				}
			}
		}
	}
}
