{% extends 'layout/layout.html' %}

{% macro releasesTable(releases, desc) %}
    <table class="releases-to-air table-control mobile-format">
        <thead>
        <tr>
            <th class="th-substance">Substance</th>
            <th class="th-action">Method</th>
            <th class="th-release numeric">Total</th>
        </tr>
        </thead>
        <tbody>
        <h2 class="heading-medium">{{ desc }}</h2>
        {% for release in releases %}
        <tr>
            <td class="td-substance">{{ release.substance_name }}</td>
            <td class="td-method">{{ release.method }}</td>
            {% if release.below_reporting_threshold %}
            <td class="td-release numeric">BRT</td>
            {% else %}
            <td class="td-release numeric">{{ release.value }} {{ release.units }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro transfersTable(transfers, desc) %}
    <table class="releases-to-air table-control mobile-format">
        <thead>
        <tr>
            <th class="th-substance">Description</th>
            <th class="th-action">EWC code</th>
            <th class="th-release">WFD code</th>
            <th class="th-release numeric">Total</th>
        </tr>
        </thead>
        <tbody>
        <h2 class="heading-medium">{{ desc }}</h2>
        {% for transfer in transfers %}
        <tr>
            <td class="td-description">{{ transfer.ewc_activity.description }}</td>
            <td class="td-ewc-code numeric">{{ transfer.ewc_chapter.code }} {{ transfer.ewc_sub_chapter.code }} {{ transfer.ewc_activity.code }}</td>
            {% if transfer.wfd_disposal %}
                <td class="td-wfd-code numeric">{{ transfer.wfd_disposal }}</td>
            {% else %}
                <td class="td-wfd-code numeric">{{ transfer.wfd_recovery }}</td>
            {% endif %}
            <td class="td-2016-total numeric">{{ transfer.tonnage }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block content %}

<main id="content">
    <label hidden id="page-name">review</label>

    {% if is_operator and submission_status === 'Unsubmitted' %}
        <a href="/task-list" class="link-back">Back to sections you must complete</a>
    {% else %}
        <a href="/" class="link-back">Back</a>
    {% endif %}

    <form action="/review/confirm" method="post" class="form">

        <h1 class="heading-large">
			Check the data in your report
        </h1>
        <h1 class="heading-large">
            {{ review.permitNumber }} - {{ review.site }}
        </h1>

        {% if review.nace %}
            <h2 class="heading-medium">Your site NACE code:</h2>
            {{ review.nace.code }} {{ review.nace.description }}
        {% endif %}

        {% if review.releases_to_air %}
            {{ releasesTable(review.releases_to_air, 'Your releases to air') }}
        {% endif %}

        {% if review.releases_to_land %}
            {{ releasesTable(review.releases_to_land, 'Your releases to land') }}
        {% endif %}

        {% if review.releases_to_controlled_water %}
            {{ releasesTable(review.releases_to_controlled_water, 'Your releases to controlled water') }}
        {% endif %}

        {% if review.releases_to_waste_water %}
            {{ releasesTable(review.releases_to_waste_water, 'Your off-site transfers in waste water') }}
        {% endif %}

        {% if review.offsite_waste_transfers %}
            {{ transfersTable(review.offsite_waste_transfers, 'Your off-site waste transfers') }}
        {% endif %}

        {% if review_mode %}
            {% if is_operator %}
                <div class="form-group">
                    <input type="submit" class="button" id="accept" value="Accept">
                </div>

                <div class="form-group">
                    <p><a id="not-accept" href="/task-list">Do not accept</a></p>
                </div>
            {% else %}
                <div class="form-group">
                    <input type="submit" class="button" id="approve" value="Approve">
                </div>

                <div class="form-group">
                    <input class="link" type="submit" id="not-approve" name="notApprove" value="Do not approve"/>
                </div>
            {% endif %}
        {% endif %}

    </form>
</main>

{% endblock %}
