{% extends 'layout/layout.html' %}
{% import 'includes/macros.html' as macros %}

{% macro releasesTable(releases, desc) %}
    <table class="releases-to-air table-control mobile-format">
        <thead>
        <tr>
            <th class="th-substance">Substance</th>
            <th class="th-action">Method</th>
            <th class="th-release numeric">Total</th>
            <th class="th-release numeric">Notifiable</th>
        </tr>
        </thead>
        <tbody>
        <h2 class="heading-medium">{{ desc }}</h2>
        {% for release in releases %}
        <tr>
            <td class="td-substance">{{ release.substance_name }}</td>
            <td class="td-method">{{ release.method }}</td>
            {% if release.below_reporting_threshold %}
            <td class="td-release">BRT</td>
            {% else %}
            <td class="td-release numeric">{{ release.value }} {{ release.units }}</td>
            {% endif %}
            <td class="td-release numeric">{{ release.notifiable.value }} {{ release.notifiable.units }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro displayOverseas(transfer) %}
    {% for key, detail in transfer.overseas %}
    <table class="check-data table-control">
        <tbody>
        <tr><th style="width: 30%">Business Address</th><td>{{ macros.printAddr(detail.businessAddress) }}</td></tr>
        <tr><th>Site Address</th><td>{{ macros.printAddr(detail.siteAddress) }}</td></tr>
        <tr><th>Quantity</th><td>{{ detail.value }}</td></tr>
        <tr><th>Method</th><td>{{ detail.method }}</td></tr>
        </tbody>
    </table>
    {% endfor %}
{% endmacro %}

{% macro displayTransfer(transfer) %}
<table class="check-data table-control">
    <tbody>
    <tr><th style="width: 30%">EWC code</th><td>{{ transfer.ewc.chapter.code }} {{ transfer.ewc.subChapter.code }} {{ transfer.ewc.activity.code }}</td></tr>
    <tr><th>Activity</th><td>{{ transfer.ewc.activity.description }}</td></tr>
    <tr><th>Hazardous</th><td>{% if transfer.ewc.activity.hazardous %}Yes{% else %}No{% endif %}</td></tr>
    <tr><th>Disposal or Recovery Code</th><td class="td-wfd-code">{% if transfer.wfd.disposal %}{{ transfer.wfd.disposal.code }}{% elif transfer.wfd.recovery %}{{ transfer.wfd.recovery.code }}{% endif %}</td></tr>
    <tr><th>Disposal or Recovery Description</th><td class="td-wfd-code">{% if transfer.wfd.disposal %}{{ transfer.wfd.disposal.description }}{% elif transfer.wfd.recovery %}{{ transfer.wfd.recovery.description }}{% endif %}</td></tr>
    <tr><th>Quantity</th><td><label class="form-label">{% if transfer.brt %}BRT{% else %}{{ transfer.value }} tonnes{% endif %}</label></td></tr>
    <tr><th>Method</th><td>{{ transfer.method }}</td></tr>

    {% if transfer.overseas | length %}
    <tr><th>Overseas</th><td>{{ displayOverseas(transfer) }}</td></tr>
    {% endif %}

    </tbody>
</table>
{% endmacro %}

{% block content %}

<main id="content">

    {% if is_operator and submission_status === 'Incomplete' %}
        <a href="/task-list" class="link-back">Back to sections you must complete</a>
    {% else %}
        <a href="/" class="link-back">Back</a>
    {% endif %}

    <form action="/review/confirm" method="post" class="form">

        <h1 class="heading-large">
			Check the data in your report
        </h1>
        <h1 class="heading-large">
            {{ review.permitNumber }} - {{ review.site }}
        </h1>

        {% if review.nace %}
            <h2 class="heading-medium">Your site NACE code</h2>
            {{ review.nace.code }} {{ review.nace.description }}
        {% endif %}

        {% if review.noses.length %}
            <h2 class="heading-medium">Your site NOSE-P codes</h2>
            {% for nose in review.noses %}
                {{ nose.code }} - {{ nose.description }}</br>
            {% endfor %}
        {% endif %}

        {% if review.releases_to_air %}
            {{ releasesTable(review.releases_to_air, routeObligations.RELEASES_TO_AIR.description) }}
        {% endif %}

        {% if review.releases_to_land %}
            {{ releasesTable(review.releases_to_land, routeObligations.RELEASES_TO_LAND.description) }}
        {% endif %}

        {% if review.releases_to_controlled_water %}
            {{ releasesTable(review.releases_to_controlled_water, routeObligations.RELEASES_TO_CONTROLLED_WATERS.description) }}
        {% endif %}

        {% if review.releases_to_waste_water %}
            {{ releasesTable(review.releases_to_waste_water, routeObligations.OFFSITE_TRANSFERS_IN_WASTE_WATER.description) }}
        {% endif %}

        {% if review.transfers %}
            <h2 class="heading-medium">Your transfers</h2>
            {% for transfer in review.transfers %}
                {{ displayTransfer(transfer) }}
            {% endfor %}
        {% endif %}

        {% if review_mode %}
            {% if is_operator %}
                <div class="form-group">
                    <input type="submit" class="button" id="accept" value="Accept">
                </div>

                <div class="form-group">
                    <p><a id="not-accept" href="/task-list">Do not accept</a></p>
                </div>
            {% else %}
                <div class="form-group">
                    <input type="submit" class="button" id="approve" value="Approve">
                </div>

                <div class="form-group">
                    <input class="link" type="submit" id="not-approve" name="notApprove" value="Do not approve"/>
                </div>
            {% endif %}
        {% endif %}

    </form>
</main>

{% endblock %}
