{% extends 'layout/layout.html' %}

{% block content %}

<main id="content">
    <form action="/submit/confirm" method="post" class="form">
        <div class="phase-banner">
            <p> <strong class="phase-tag">BETA</strong> <span>This is a new service – your <a target="blank" href="">feedback</a> will help us to improve it.</span> </p>
        </div>

        <a href="/task-list" class="link-back">Back to sections you must complete</a>

        {% if canSubmit %}
        <h1 class="heading-large">Submit your report</h1>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="notice">
                    <i class="icon icon-important">
                        <span class="visually-hidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        If you make a statement that’s false or misleading you may be committing an offence under Environmental Permitting (England and Wales) Regulations 2010, Regulation 60 (1).
                    </strong>
                </div>
                <h2 class="heading-medium">Declaration</h2>
                <p>By submitting this report, I declare that as far as I know the information in it is true.</p>
                <div class="form-group"> <input type="submit" class="button" id="continueBtn" value="Continue"> </div>
            </div>
        </div>
        {% else %}
        <p>Please complete your report</p>
        {% endif %}
    </form>
</main>

{% endblock %}