{% extends 'layout/layout.html' %}

{% block content %}

<main id="content">
    <label id="page-name" hidden>Address</label>

    <form action="{{ action }}" method="post" class="form">

        {% if id === 'TRANSPORTATION_COMPANY_ADDRESS'%}
        <h1 class="heading-large">
            <span class="heading-secondary">Your overseas waste transfers</span>
            Which company transported this waste for you?
        </h1>
       {% elif id === 'DESTINATION_ADDRESS' %}
        <h1 class="heading-large">
            <span class="heading-secondary">Your overseas waste transfers</span>
            Where did you send this waste?
        </h1>
       {% endif %}

        <div class="form-group">
            <fieldset>
                <div class="form-group">
                    <label class="form-label" for="business-name">Business name</label>
                    <input class="form-control" id="business-name" type="text" name="business-name" value="">
                </div>
                <div class="form-group">
                    <label class="form-label" for="address-line-1">Address line 1</label>
                    <input class="form-control" id="address-line-1" type="text" name="address-line-1" value="">
                </div>
                <div class="form-group">
                    <label class="form-label" for="address-line-2">Address line 2 (optional)</label>
                    <input class="form-control" id="address-line-2" type="text" name="address-line-2" value="">
                </div>
                <div class="form-group">
                    <label class="form-label" for="town-or-city">Town or city</label>
                    <input class="form-control" id="town-or-city" type="text" name="town-or-city" value="">
                </div>
                <div class="form-group">
                    <label class="form-label" for="country">Country</label>
                    <input class="form-control" id="country" type="text" name="country" value="">
                </div>
            </fieldset>
        </div>
        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>
    </form>
</main>

{% endblock %}