{% extends 'layout/layout.html' %}

{% block content %}

{% set address_line_1_error = (errors | selectattr2("key", "address-line-1"))  %}
{% set business_name_error = (errors | selectattr2("key", "business-name"))  %}
{% set town_or_city_error = (errors | selectattr2("key", "town-or-city"))  %}
{% set country_error = (errors | selectattr2("key", "country"))  %}

<main id="content">
    <label id="page-name" hidden>Address</label>

    <form action="{{ action }}" method="post" class="form">

        {% if errors %}
        <h1 class="heading-large">{{ header }}</h1>
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
            <h2 class="heading-large error-summary-heading" id="error-summary-heading-example-2">
                Check what you’re reporting
            </h2>
            <ul class="error-summary-list">
                {% if business_name_error %}<li><a href="">You must include a business name</a></li>{% endif %}
                {% if address_line_1_error %}<li><a href="">You must include an address</a></li>{% endif %}
                {% if town_or_city_error %}<li><a href="">You must include a town or city</a></li>{% endif %}
                {% if country_error %}<li><a href="">You must include a country</a></li>{% endif %}
            </ul>
        </div>
        {% else %}
            {% if id === 'TRANSPORTATION_COMPANY_ADDRESS'%}
            <h1 class="heading-large">
                <span class="heading-secondary">Your overseas waste transfers</span>
                Which company transported this waste for you?
            </h1>
            {% elif id === 'DESTINATION_ADDRESS' %}
            <h1 class="heading-large">
                <span class="heading-secondary">Your overseas waste transfers</span>
                Where did you send this waste?
            </h1>
            {% endif %}
        {% endif %}

        <div class="form-group">
            <fieldset>

                {% if business_name_error %}
                <div class="form-group form-group-error">
                    <label class="form-label" for="business-name-err">Business name</label>
                    <input class="form-control-error" id="business-name-err" type="text" name="business-name" value="{{ address.businessName }}">
                    <span class="error-message">You must include a business name</span>
                </div>
                {% else %}
                <div class="form-group">
                    <label class="form-label" for="business-name">Business name</label>
                    <input class="form-control" id="business-name" type="text" name="business-name" value="{{ address.businessName }}">
                </div>
                {% endif %}

                {% if address_line_1_error %}
                <div class="form-group form-group-error">
                    <label class="form-label" for="address-line-1-err">Address line 1</label>
                    <input class="form-control-error" id="address-line-1-err" type="text" name="address-line-1" value="{{ address.addressLine1 }}">
                    <span class="error-message">You must include aan address</span>
                </div>
                {% else %}
                <div class="form-group">
                    <label class="form-label" for="address-line-1">Address line 1</label>
                    <input class="form-control" id="address-line-1" type="text" name="address-line-1" value="{{ address.addressLine1 }}">
                </div>
                {% endif %}
                
                <div class="form-group">
                    <label class="form-label" for="address-line-2">Address line 2 (optional)</label>
                    <input class="form-control" id="address-line-2" type="text" name="address-line-2" value="{{ address.addressLine2 }}">
                </div>

                {% if town_or_city_error %}
                <div class="form-group form-group-error">
                    <label class="form-label" for="town-or-city-err">Town or city</label>
                    <input class="form-control-error" id="town-or-city-err" type="text" name="town-or-city" value="{{ address.townOrCity }}">
                    <span class="error-message">You must include a town or city</span>
                </div>
                {% else %}
                <div class="form-group">
                    <label class="form-label" for="town-or-city">Town or city</label>
                    <input class="form-control" id="town-or-city" type="text" name="town-or-city" value="{{ address.townOrCity }}">
                </div>
                {% endif %}

                {% if country_error %}
                <div class="form-group form-group-error">
                    <label class="form-label" for="country-err">Country</label>
                    <input class="form-control-error" id="country-err" type="text" name="country" value="{{ address.country }}">
                    <span class="error-message">You must include a country</span>
                </div>
                {% else %}
                <div class="form-group">
                    <label class="form-label" for="country">Country</label>
                    <input class="form-control" id="country" type="text" name="country" value="{{ address.country }}">
                </div>
                {% endif %}

            </fieldset>
        </div>
        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>
    </form>
</main>

{% endblock %}