{% extends 'layout/layout.html' %}

{% block content %}
<main id="content">
    <label id="page-name" hidden>task-list</label>
    <a href="/" class="link-back">Back to your permits</a>
    <div class="grid-row">
        <div class="column-two-thirds">
			<h1 class="heading-large">Sections summary</h1>
            {% for stage in taskList.stages %}
	        <br>
            <table id="table-{{ loop.index }}">
                <thead>
                    <tr>
                        <th scope="col" id="col-task-{{ loop.index }}">
                            <span class="task-group">
                                <span class="group-number">{{ loop.index }}.</span> {{ stage.heading }}
                            </span>
                        </th>
                        <th><span class="visually-hidden">Status</span></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in stage.items %}
                <tr>
                    <td class="task">
                        <a id="{{ item.page | replace('/', '') }}" href="{{ item.page }}/confirm">
                            <span class="task-name">{{ item.title }}</span>
                        </a>
                    </td>

                    <td class="numeric" id="task-status">
                    {% if permitStatus.completed[item.name] %}
                        <div class="task-status-banner">
                            <strong class="task-finished">Completed</strong>
                        </div>
                    {% else %}
                        <div class="task-status-banner"/>
                    {% endif %}
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
	        <br>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
