{% extends 'layout/layout.html' %}

{% block content %}
<main id="content">
    <a href="/" class="link-back">Back to your permits</a>
    <div class="grid-row">
        <div class="column-two-thirds">
      <h1 class="heading-large">
                {{ eaId.regime.nomenclature }}
                <span class="heading-secondary">{{ eaId.nomenclature }} - {{ eaId.site.nomenclature }}</span>
            </h1>

            <ol class="task-list">
                <li>
                    <h2 class="task-list-section">
                        <span class="task-list-section-number">1. </span> Check your details
                    </h2>
                    <ul class="task-list-items">
                        {% if tasks.NACE_CODE %}
                        <li class="task-list-item">
                            <a id="{{ tasks.SITE_CODES.page | replace('/', '') }}" href="{{ tasks.NACE_CODE.page }}" aria-describedby="nace-completed">
                            NACE code
                            </a>
                        {% if submissionContext.completed.NACE_CODE %}
                            <strong class="task-completed" id="nace-completed">Completed</strong>
                        {% endif %}
                        </li>
                        {% endif %}
                        {% if tasks.NOSE_CODES %}
                        <li class="task-list-item">
                            <a id="{{ tasks.NOSE_CODES.page | replace('/', '') }}" href="{{ tasks.NOSE_CODES.page }}" aria-describedby="nose-p-completed">
                            NOSE-P code(s)
                            </a>
                        {% if submissionContext.completed.NOSE_CODES %}
                            <strong class="task-completed" id="nose-p-completed">Completed</strong>
                        {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                    
                </li>
                <li>
                    <h2 class="task-list-section">
                        <span class="task-list-section-number">2. </span> Report your data
                    </h2>
                    <ul class="task-list-items">
                        {% if tasks.RELEASES_TO_AIR %}
                        <li class="task-list-item">
                            <a id="{{ tasks.RELEASES_TO_AIR.page | replace('/', '') }}" href="{{ tasks.RELEASES_TO_AIR.page }}/confirm" aria-describedby="air-completed">
                            {{ tasks.RELEASES_TO_AIR.title }}
                            </a>
                        {% if submissionContext.completed.RELEASES_TO_AIR %}
                            <strong class="task-completed" id="air-completed">Completed</strong>
                        {% endif %}
                        </li>
                        {% endif %}
                        {% if tasks.RELEASES_TO_LAND %}
                        <li class="task-list-item">
                            <a id="{{ tasks.RELEASES_TO_LAND.page | replace('/', '') }}" href="{{ tasks.RELEASES_TO_LAND.page }}/confirm" aria-describedby="land-completed">
                            {{ tasks.RELEASES_TO_LAND.title }}
                            </a>
                        {% if submissionContext.completed.RELEASES_TO_LAND %}
                            <strong class="task-completed" id="land-completed">Completed</strong>
                        {% endif %}
                        </li>
                        {% endif %}

                        {% if tasks.RELEASES_TO_CONTROLLED_WATERS %}
                        <li class="task-list-item">
                            <a id="{{ tasks.RELEASES_TO_CONTROLLED_WATERS.page | replace('/', '') }}" href="{{ tasks.RELEASES_TO_CONTROLLED_WATERS.page }}/confirm" aria-describedby="controlled-waters-completed">
                            {{ tasks.RELEASES_TO_CONTROLLED_WATERS.title }}
                            </a>
                        {% if submissionContext.completed.RELEASES_TO_CONTROLLED_WATERS %}
                            <strong class="task-completed" id="controlled-waters-completed">Completed</strong>
                        {% endif %}
                        </li>
                        {% endif %}
                        {% if tasks.OFFSITE_TRANSFERS_IN_WASTE_WATER %}
                        <li class="task-list-item">
                            <a id="{{ tasks.OFFSITE_TRANSFERS_IN_WASTE_WATER.page | replace('/', '') }}" href="{{ tasks.OFFSITE_TRANSFERS_IN_WASTE_WATER.page }}/confirm" aria-describedby="waste-water-completed">
                            {{ tasks.OFFSITE_TRANSFERS_IN_WASTE_WATER.title }}
                            </a>
                        {% if submissionContext.completed.OFFSITE_TRANSFERS_IN_WASTE_WATER %}
                            <strong class="task-completed" id="waste-water-completed">Completed</strong>
                        {% endif %}
                        </li>
                        {% endif %}
                        {% if tasks.WASTE_TRANSFERS %}
                        <li class="task-list-item">
                            <a id="{{ tasks.WASTE_TRANSFERS.page | replace('/', '') }}" href="{{ tasks.WASTE_TRANSFERS.page }}/confirm" aria-describedby="transfers-completed">
                            Waste transfers
                            </a>
                        {% if submissionContext.completed.WASTE_TRANSFERS %}
                            <strong class="task-completed" id="transfers-completed">Completed</strong>
                        {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <h2 class="task-list-section">
                        <span class="task-list-section-number">3. </span> Check and submit your report
                    </h2>
                    <ul class="task-list-items">
                        {% if tasks.REVIEW %}
                        <li class="task-list-item">
                            <a id="{{ tasks.REVIEW.page | replace('/', '') }}" href="{{ tasks.REVIEW.page }}/confirm" aria-describedby="check-completed">
                            Check your data
                            </a>
                        {% if submissionContext.completed.REVIEW %}
                            <strong class="task-completed" id="check-completed">Completed</strong>
                        {% endif %}
                        </li>
                        {% endif %}
                        {% if tasks.SUBMIT %}
                        <li class="task-list-item">
                            <a id="{{ tasks.SUBMIT.page | replace('/', '') }}" href="{{ tasks.SUBMIT.page }}/confirm" aria-describedby="submit-completed">
                            Submit your data
                            </a>
                        {% if submissionContext.completed.SUBMIT %}
                            <strong class="task-completed" id="submit-completed">Completed</strong>
                        {% endif %}
                        </li>
                        {% endif %}
                    </ul>  
                </li>
            </ol>
        </div>
    </div>
</main>
{% endblock %}
