{% extends 'layout/layout.html' %}

{% block content %}
<main id="content">
    <label id="page-name" hidden>task-list</label>
    <div class="grid-row">
        <div class="column-two-thirds">
            {% for stage in taskList.stages %}
	        <br>
	        <br>
            <table id="table-{{ loop.index }}">
                <thead>
                    <tr>
                        <th scope="col" id="col-task-{{ loop.index }}">
                            <span class="task-group">
                                <span class="group-number">{{ loop.index }}.</span> {{ stage.heading }}
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for item in stage.items %}
                <tr>
                    <td class="task">
                        <a id="{{ item.page | replace('/', '') }}" href="{{ item.page }}/confirm">
                            <span class="task-name">{{ item.title }}</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
