{% extends 'layout/layout.html' %}

{% block content %}

<main id="content">
    {% if authenticated === 'FAILED' %}
    <div class="error-message">
        <p>Username and password not recognized</p>
    </div>
    {% endif %}

    <form action="/login" method="post">
        <div class="text">
            <label>Username</label>
            <input placeholder="Enter Username" name="username" required></div></br>

            <label>Password</label>
            <input type="password" placeholder="Enter Password" name="password" required></br>

            <div class="form-group">
                <input class="button" type="submit" id="continueBtn" value="Login" accesskey="L">
            </div>

            <input type="hidden" name="crumb" value="{{crumb}}"/>
        </div>

        <div class="container">
            <span>Forgot <a href="#">password?</a></span>
        </div>
    </form>
</main>

{% endblock %}