{% extends 'layout/layout.html' %}

{% block content %}

<main id="content">
    <label id="page-name" hidden>login</label>

    {% if authenticated === 'FAILED' %}
    <div class="error-message">
        <p>Username and password not recognized</p>
    </div>
    {% endif %}

    <form action="/login" method="post">
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-large">Sign in</h1>
				<div class="form-group">
					<label class="form-label" for="username">Username</label>
					<input class="form-control" id="username" type="text" name="username" required>
				</div>
				<div class="form-group">
					<label class="form-label" for="password">Password</label>
					<input class="form-control" id="password" type="password" name="password" required>
				</div>

		        <input type="hidden" class="button" name="crumb" value="{{crumb}}"/>

	            <div class="form-group">
	                <input class="button" type="submit" id="continueBtn" value="Continue" accesskey="L">
	            </div>

		        <div class="container">
		            <span><a href="#">Received password?</a></span>
		        </div>
			</div>
		</div>
    </form>
</main>

{% endblock %}
