{% extends 'layout/layout.html' %}

{% block content %}

<main id="content">
     <div tabindex="-1" aria-labelledby="make-corrections" role="group" class="error-summary">
        <h1 class="heading-medium error-summary-heading"><span id="title">Sorry, the service isn't working</span></h1>
        <p>We’re experiencing problems. This means you can’t make a submission right now. Please contact us directly to
            tell us about this problem.</p>
    </div>
    <p><a id="continueBtn" href="/" class="button">Start again</a></p>
</main>

{% endblock %}
