input {
	&.ewc-code {
	width:5em;
	}
	&.wfd-code {
		width:5em;
	}
	&.total {
		width:5em;
	}
	&.nace-code {
		width:5em;
	}
	&.nose-code {
		width:5em;
	}
	&.details-follow {
    margin-bottom: 20px;
  }
}


span {
	&.cas {
		font-style: italic;
	}
}
