table.cookies-table {
	margin: $gutter-half 0;
	td {
		vertical-align: top;
	}
}

table.datarules {
	ul.list {
		margin-top:0;
	}
}

.exception {
	margin-top:$gutter;
	overflow: hidden;
}

// Special cases in rules
.example-file-wrapper {
	overflow: auto;
	margin:5px;
	table.example {
		white-space: nowrap;
	}
}
.example-file-wrapper:focus {
	outline: 5px solid $yellow;
	margin:5px;
}

// Example file
.example-file {
  width:100%;
  margin-bottom:60px;
  margin-right:15px;
  table {
    th, td {
      white-space: nowrap;
    }
  }
}


// CSV
.csv {
	border-bottom:1px solid $grey-3;
	h2 {
	  @include bold-24();
	  margin-top:$gutter-half;
	}
}
