// task list styling

#table-of-tasks td {
  border-bottom: 1px solid #bfc1c3;
}

.task-group {
  font-size: 30px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .task-group {
    font-size: 24px;
    font-weight: 700;
  }
}

.task {
  font-size: 19px;
  font-weight: 700;
  color: $link-colour;
}

.task-name {
  font-size: 19px;
  font-weight: 400;
  margin-left: 65px;
}

#task-number {
  margin-right: 32px;
}

.task-name:hover {
    text-decoration: underline;
}

.task-description {
  font-size: 16px;
  font-weight: 400;
}

.task-tag {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
    padding: 3px 6px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: $black;
}

.task-finished {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
    padding: 3px 6px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
//  text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #005ea5;
//  border: 3px solid #0B0C0C;
}

// .task-started {
//     display: inline-block;
//     vertical-align: top;
//     margin: 0 0 0 0;
//     padding: 2px 5px 0;
//     font-family: "nta", Arial, sans-serif;
//     font-size: 16px;
//     line-height: 1.25;
//     font-weight: 700;
//     text-transform: none;
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     text-decoration: none;
//     color: #005EA5;
//     background-color: #FFFFFF;
//     border: 3px solid #005EA5;
// }

.task-name-no-margin {
  font-size: 19px;
  font-weight: 400;
}
