{% extends 'layout/layout.html' %}

{% block content %}

<main id="content" role="main">
    <label id="page-name" hidden>nace</label>
    <a class="link-back" href="/task-list">Back to sections you must complete</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Check your activity codes</span>
                What is your NACE code?
            </h1>
            <form action="/check/nace-code" method="post" class="form">
            {% if error %}
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        Check what you’re reporting</h2>
                    <ul class="error-summary-list">
                        <li><a href="#nace-code-err">Enter a valid NACE code</a></li>
                    </ul>
                </div>
                <div class="form-group form-group-error">
                    <label class="form-label" for="nace-code">
                        Enter the code for your site’s main activity.
                        <span class="form-hint">
                            For example, ‘20.13’.
                        </span>
                    </label>
                    <span class="error-message">Enter a valid NACE code</span>
                    <input class="form-control form-control-error nace-code" id="nace-code-err" name="nace" value="">
                </div>
            {% else %}
                <div class="form-group">
                    <label class="form-label" for="nace-code">
                        Enter the code for your site’s main activity.
                        <span class="form-hint">
                            For example, ‘20.13’.
                        </span>
                    </label>
                    <input class="form-control nace-code" id="nace-code" name="nace" value="">
                </div>
            {% endif %}
                <details class="form-group">
                    <summary><span class="summary">How can I find my NACE code?</span></summary>
                    <div class="panel panel-border-narrow">
                        <p>Check <a href="https://www.gov.uk/government/publications/pollution-inventory-reporting-guidance-notes">the reporting codes guidance</a> to find the 4-digit code for the main activity you perform on your site.</p>
                    </div>
                </details>
                <div class="form-group">
                    <input class="button" type="submit" value="Save and continue">
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}