{% extends 'layout/layout.html' %}

{% block content %}

<main id="content" role="main">
    <a class="link-back" href="/task-list">Back to sections you must complete</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Check your activity codes</span>
                Is this an accurate description of your site's main activity?
            </h1>
            <form action="/check/nace-summary" method="post" class="form">
                <div class="form-group">
                    <table class="codes table-control">
                        <thead>
                            <tr>
                                <th class="code-name">Code</th>
                                <th class="description">Description</th>
                                <th class="action"><span class="visually-hidden">Action</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ nace.naceClass.code }}</td>
                                <td>
                                    <span class="visuallyhidden">Class</span>{{ nace.naceClass.description }}
                                </td>
                                <td>
                                    <input class="link delete" type="submit" id="change" name="change" value="Change"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <input id="continueBtn" class="button" type="submit" value="Continue">
            </form>
        </div>
    </div>
</main>

{% endblock %}}