{% extends 'layout/layout.html' %}

{% block content %}

<main id="content">
    <label id="page-name" hidden>nace</label>
    <form action="/check/nace-code" method="post" class="form">
        <a href="/task-list" class="link-back">Back to sections you must complete</a>

        <h1 class="heading-large">NACE code<span class="heading-secondary">Enter the code for your sites main activity</span></h1>

        {% if error %}
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    Check what you’re reporting</h2>
                <ul class="error-summary-list">
                    <li><a href="#ewc-code">Enter a correct NACE code</a></li>
                </ul>
            </div>

            <div class="form-group form-group-error">
                <label class="form-label" for="nace-code">NACE code</label>
                <span class="form-hint">For example, 01.14</span>
                <span class="error-message">Enter a correct NACE code</span>
                <input class="form-control form-control-error nace-code" id="nace-code-err" name="nace" value="">
            </div>
        {% else %}
            <div class="form-group">
                <label class="form-label" for="nace-code">NACE code</label>
                <span class="form-hint">For example, 01.14</span>
                <input class="form-control nace-code" id="nace-code" name="nace" value="">
            </div>
        {% endif %}
        <div class="form-group"><input type="submit" class="button" value="Continue"></div>
    </form>
</main>

{% endblock %}